extends layout

block content
  h1= title
  p Welcome to #{title}
  - var results = [{color:"Black", price: 20, size:"L"},{color:"White and red", price: 40, size:"M"},{color:"Red devil", price: 50, size:"s"}]
   div(class="container-fluid")
    div(class="row" )
     each res,index in results
      div(class="col-sm-4" onclick=`buy(${index})`) Color : #{res.color} , Price : #{res.price} , Size : #{res.size}
  script.
   let itemNumber=0                
        function buy(itemNumber)
        {
            //for index in results
             alert(`you purchased Item ${itemNumber+1}`)
        }